/* Append to index.css */

.hide-on-mobile {
  display: none;
}

.show-on-mobile {
  display: block;
}

@media (min-width: 1024px) {
  .hide-on-mobile {
    display: block;
  }
  .show-on-mobile {
    display: none;
  }
}
